!!!
%html{ lang: 'en'}
  %head
    = render :head

  %body
    %header.Stripe.Stripe--Hero
      .Stripe__Inner
        - inline_jpeg 'philoye', 125, 125, 'avatar'
        %h1 Phil Oye

        %nav
          %a{href: "https://twitter.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#twitter', 'Icon'
          %a{href: "https://instagram.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#instagram', 'Icon'
          %a{href: "https://github.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#github', 'Icon'
          %a{href: "https://au.linkedin.com/in/#{ENV['USERNAME']}"}
            - svg_use_tag '#linkedin', 'Icon'
          %a{href: "mailto:#{ENV['EMAIL_ADDRESS']}"}
            - svg_use_tag '#envelope', 'Icon'
          %a.resume{href: 'PhilOye-CV.pdf', title: 'Download resume'}

        .Stripe__Leadin
          %h2
            - svg_use_tag '#download', 'Icon'
            Work history or
            %a.resume{href: 'PhilOye-CV.pdf'} view PDF

    %section.Stripe.Stripe--Reversed.Stripe--Atlassian
      .Stripe__Inner
        %h3 2016–Today
        .Logo
          %a{href: 'https://atlassian.com'}
            = inline_svg 'horizontal-logo-onecolor-white-atlassian'
        %p
          I’m a Principal Product Manager at <a href='https://atlassian.com'>Atlassian</a>. I originally started on <a href='https://www.atlassian.com/software/confluence'>Confluence</a> and later joined our Platform team focusing on a powerful, cross‑product rich-text editor.

    %section.Stripe.Stripe--Reversed.Stripe--Labcoat
      .Stripe__Inner
        %h3 2015–2016
        .Logo
          %a{href: 'https://labcoat.io'}
            = inline_svg 'labcoat'
        %p I built <a href='https://labcoat.io'>Labcoat</a>, a tool for product teams to design and iterate websites right in the browser.

    -# %section.Stripe--Separator
      -# %h2 Previously…

    %section.Stripe.Stripe--Reversed.Stripe--CampaignMonitor
      .Stripe__Inner
        %h3 2014–2015
        .Logo
          %a{href: 'http://campaignmonitor.com'}
            = inline_svg 'campaignmonitor'
        %p I was <a href='http://campaignmonitor.com'>Campaign Monitor</a>'s first Product Manager and launched a new product from scratch — <a href="https://www.campaignmonitor.com/features/transactional-email/">Transactional Email</a>.

    %section.Stripe.Stripe--Reversed.Stripe--Moment
      .Stripe__Inner
        %h3 2002–2016
        .Logo
          %a{href: 'http://moment.com.au'}
            = inline_svg 'moment'
        %p I co-founded <a href='http://momentdesign.com'>Moment</a>, a New York-based digital strategy and design agency, working for clients like ESPN, Gucci, Tiffany, Morgan Stanley, and Virgin Mobile.
        %p In 2006, I planted the flag in Sydney to help Australian clients like Bing Lee, SBS, Westpac, Macquarie Telecom, and more.

    %section.Stripe.Stripe--Reversed.Stripe--Sapient.Stripe--Previously
      .Stripe__Inner
        %h3 1999–2002
        .Logo
          %a{href: 'http://sapient.com'}
            = inline_svg 'sapient'
        %p I worked at <a href='http://sapient.com'>Sapient</a> as a Senior Information Architect on projects for Goldman Sachs, United Airlines, The New York Times, and LEGO.

    %section.Stripe.Stripe--Reversed.Stripe--Maya.Stripe--Previously
      .Stripe__Inner
        %h3 1996–1999
        .Logo
          %a{href: 'http://maya.com'}
            = inline_svg 'maya'
        %p I was an interaction designer at <a href='http://www.maya.com/'>MAYA</a>, one of the first multi-disciplinary design firms, which combined engineering, design, and the human sciences.

    %section.Stripe.Stripe--Reversed.Stripe--PureSpeech.Stripe--Previously
      .Stripe__Inner
        %h3 1996
        .Logo
          %a{href: 'http://purespeech.com'}
            = inline_svg 'purespeech'
        %p My first gig out of <a href="https://cmu.edu/">university</a> was as a “Human Factors Specialist” at PureSpeech, a startup in Boston. I was an interface designer on a desktop app that combined both a speech and graphical interface.


    %footer
      %p
        Made with ♥︎ in Sydney, Australia
      %p 
        Oh, you might like my story of <a href="/wtc.html'">9/11</a>.
    = inline_svg 'icons'

