!!!
%html{ lang: 'en'}
  %head
    = render :head

  %body
    %header.Stripe.Stripe--Hero
      .Stripe__Inner
        - inline_jpeg 'philoye', 125, 125, 'avatar'
        %h1 Phil Oye

        %nav
          %a{href: "https://twitter.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#twitter', 'Icon'
          %a{href: "https://instagram.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#instagram', 'Icon'
          %a{href: "https://github.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#github', 'Icon'
          %a{href: "https://au.linkedin.com/in/#{ENV['USERNAME']}"}
            - svg_use_tag '#linkedin', 'Icon'
          %a{href: "mailto:#{ENV['EMAIL_ADDRESS']}"}
            - svg_use_tag '#envelope', 'Icon'
          %a.resume{href: 'PhilOye-CV.pdf', title: 'Download resume'}

        .Stripe__Leadin
          %h2
            - svg_use_tag '#download', 'Icon'
            A bit of work history…
            -# %a.resume{href: 'PhilOye-CV.pdf'} view PDF

    %section.Stripe.Stripe--Reversed.Stripe--Atlassian
      .Stripe__Inner
        %h3 2016–Today
        .Logo
          %a{href: 'https://atlassian.com'}
            = inline_svg 'horizontal-logo-onecolor-white-atlassian'
        %p
          I’m a Group Product Manager at <a href='https://atlassian.com'>Atlassian</a> in the Cloud Platform&nbsp;team. 

    %section.Stripe.Stripe--Reversed.Stripe--Labcoat
      .Stripe__Inner
        %h3 2015–2016
        .Logo
          %a{href: 'https://labcoat.io'}
            = inline_svg 'labcoat'
        %p I built <a href='https://labcoat.io'>Labcoat</a>, a tool for product teams to design and iterate websites right in the browser.

    -# %section.Stripe--Separator
      -# %h2 Previously…

    %section.Stripe.Stripe--Reversed.Stripe--CampaignMonitor
      .Stripe__Inner
        %h3 2014–2015
        .Logo
          %a{href: 'http://campaignmonitor.com'}
            = inline_svg 'campaignmonitor'
        %p I was <a href='http://campaignmonitor.com'>Campaign Monitor</a>'s first Product Manager and launched a new product from scratch — <a href="https://www.campaignmonitor.com/features/transactional-email/">Transactional&nbsp;Email</a>.

    %section.Stripe.Stripe--Reversed.Stripe--Moment
      .Stripe__Inner
        %h3 2002–2016
        .Logo
          %a{href: 'http://moment.com.au'}
            = inline_svg 'moment'
        %p I co-founded <a href='http://momentdesign.com'>Moment</a>, a New York-based digital strategy and design agency, working for clients like ESPN, Gucci, Tiffany, Morgan Stanley, and Virgin&nbsp;Mobile.
        %p In 2006, I planted the flag in Sydney to help Australian clients like Bing Lee, SBS, Westpac, Macquarie Telecom, and&nbsp;more.

    %section.Stripe.Stripe--Reversed.Stripe--Sapient.Stripe--Previously
      .Stripe__Inner
        %h3 1999–2002
        .Logo
          %a{href: 'http://sapient.com'}
            = inline_svg 'sapient'
        %p I worked at <a href='http://sapient.com'>Sapient</a> as a Senior Information Architect on projects for Goldman Sachs, United Airlines, The New York Times, and&nbsp;LEGO.

    %section.Stripe.Stripe--Reversed.Stripe--Maya.Stripe--Previously
      .Stripe__Inner
        %h3 1996–1999
        .Logo
          %a{href: 'http://maya.com'}
            = inline_svg 'maya'
        %p I was an interaction designer at <a href='http://www.maya.com/'>MAYA</a>, one of the world’s first multi-disciplinary design firms, which combined engineering, design, and the human&nbsp;sciences.

    %section.Stripe.Stripe--Reversed.Stripe--PureSpeech.Stripe--Previously
      .Stripe__Inner
        %h3 1996
        .Logo
          %a{href: 'http://purespeech.com'}
            = inline_svg 'purespeech'
        %p My first real job was as a “Human Factors Specialist” at PureSpeech, a startup in Boston. I was an interface designer on a <a href="https://www.behance.net/gallery/3960789/Juggler-Voice-Assistant">desktop app</a> that combined both a speech and graphical&nbsp;interface.
    %section.Stripe.Stripe--Reversed.Stripe--CMU.Stripe--Previously
      .Stripe__Inner
        %h3 1992–1996
        .Logo
          %a{href: 'http://cmu.edu'}
            = inline_svg 'cmu'
        %p I thought I wanted to be a mechanical engineer — I was wrong. Luckily, I went to a <a href="https://cmu.edu">university</a> that was at the forefront of tech, psychology, and design, enabling me to pursue a career at the intersection of these disciplines.
    %footer
      %p 
        You might like my story of <a href="/wtc.html">9/11</a>.
        %br
        Want to connect?
        %a{href: "mailto:#{ENV['EMAIL_ADDRESS']}"} Send me an email.
      %p
        Made with ♥︎ in Sydney, Australia. 
    = inline_svg 'icons'

