!!!
%html{ lang: 'en'}
  %head
    = render :head

  %body
    %header.Stripe.Stripe--Hero
      .Stripe__Inner
        - inline_jpeg 'philoye', 96, 96, 'avatar'
        %h1 Phil Oye

        %nav
          %a{href: "https://twitter.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#twitter', 'Icon'
          %a{href: "https://instagram.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#instagram', 'Icon'
          %a{href: "https://github.com/#{ENV['USERNAME']}"}
            - svg_use_tag '#github', 'Icon'
          %a{href: "https://au.linkedin.com/in/#{ENV['USERNAME']}"}
            - svg_use_tag '#linkedin', 'Icon'
          %a{href: "mailto:#{ENV['EMAIL_ADDRESS']}"}
            - svg_use_tag '#envelope', 'Icon'
          %a.resume{href: 'PhilOye-CV.pdf', title: 'Download resume'}
            - svg_use_tag '#download', 'Icon Icon--Smaller'

        .Stripe__Leadin
          %h2 What I'm currently working on…

    %section.Stripe.Stripe--Reversed.Stripe--Atlassian
      .Stripe__Inner
        .Logo
          %a{href: 'https://atlassian.com'}
            = inline_svg 'atlassian'
        %p
          I recently started at Atlassian as a Senior Product Manager to work on the Confluence team.
        %p
          %a{href: 'https://atlassian.com'} Atlassian.com

    %section.Stripe.Stripe--Reversed.Stripe--Labcoat
      .Stripe__Inner
        .Logo
          %a{href: 'https://labcoat.io'}
            = inline_svg 'labcoat'
        %p I've been building a new way for product teams to design and iterate websites right in the browser.
        %p
          %a{href: 'https://labcoat.io'} Labcoat.io

    %section.Stripe--Separator
      %h2 Previously…

    %section.Stripe.Stripe--Reversed.Stripe--CampaignMonitor
      .Stripe__Inner
        %h3 2014–2015
        .Logo
          %a{href: 'http://campaignmonitor.com'}
            = inline_svg 'campaignmonitor'
        %p I worked at <a href='http://campaignmonitor.com'>Campaign Monitor</a> as a Product Manager and launched <a href="https://www.campaignmonitor.com/features/transactional-email/">Transactional Email</a>.

    %section.Stripe.Stripe--Reversed.Stripe--Moment
      .Stripe__Inner
        %h3 2002–2016
        .Logo
          %a{href: 'http://moment.com.au'}
            = inline_svg 'moment'
        -# %p I’ve been helping my clients figure out what to do on the web and on mobile, and how to do it. My focus is equal parts design thinking and product design, typically in complex problem domains.
        %p Co-founder of Moment, a New York-based digital strategy and design agency. Planted the flag in Sydney in 2006 to help Australian clients.

    %section.Stripe.Stripe--Reversed.Stripe--Sapient.Stripe--Previously
      .Stripe__Inner
        %h3 1999–2002
        .Logo
          %a{href: 'http://sapient.com'}
            = inline_svg 'sapient'

    %section.Stripe.Stripe--Reversed.Stripe--Maya.Stripe--Previously
      .Stripe__Inner
        %h3 1996–1999
        .Logo
          %a{href: 'http://maya.com'}
            = inline_svg 'maya'

    %footer
      %p
        Made with ♥︎ in Sydney, Australia

    = inline_svg 'icons'

